<html>
<head>
<title>iGO后台－评论</title>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="javascripts/jquery-2.2.1.js"></script>
<script type="text/javascript" src="javascripts/admin_comments.js"></script>

<style>
td, th{
	text-align: center;
}
.glyphicon{
	color:#d54545;
}
td a{

}
</style>

</head>

<body>

<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="admin_general">概览</a></li>
					<li><a href="admin_admin">管理员</a></li>
					<li><a href="admin_user">用户</a></li>
					<li><a href="admin_products">商品</a></li>
					<li><a href="admin_orders">订单</a></li>
					<li><a href="admin_status">帖子</a></li>
					<li><a href="admin_activity">活动</a></li>
					<li class="active"><a href="admin_comments">评论</a></li>
					<li><a href="admin_notification">推送</a></li>	
				</ul>

				<ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><%= admin_name %></a></li>
			        <li><a href="/admin_general/logout" style="color:#900">注销</a></li>
			    </ul>
			</div>
		<div>	
	</nav>


<div class="container">
	<div style="height:100px;"></div>
	<% if(status == 0) {%>
	<% pstatus='block';cstatus='none';pa='active';ca=''%>
	<% }else{%>
	<% cstatus='block';pstatus='none';ca='active';pa=''%>
	<% }%>
	<nav style="text-align:center;">
	  <ul class="pagination head-pagination">
	    <li id="products" class="<%= pa%>" title="one" onclick="showlist('products')"><a href="#">商品评论</a></li>
	    <li id="community" class="<%= ca%>" title="two" onclick="showlist('community')"><a href="#">帖子评论</a></li>
	  </ul>
	</nav>	
	<div>
		
		<!-- products table -->
		<div id="ptable" style="display: <%= pstatus%>">
			<div  class="panel panel-default">
			  	<table class="table table-striped">
			  		<tr><th>ID</th><th>名称</th><th>评论数</th></tr>
			  		<% for(var i=0; i<plist.length;i++) { %>
			  		<% 		if(plist[i] == null || plist[i][1] == null) {%>
			  		<% 			continue;%>
			  		<% 		}%>
				  		<tr onclick="pdetail(<%= i%>)">
				  			<td><%= i%></td>
				  			<td><%= plist[i][0]%></td>
				  			<td><%= plist[i][1]%></td>
				  			
				  		</tr>
			  		<% }%>
					
				</table>			
			</div>
			<p style="display:none;" id="pcur"><%= pcurrentPage %></p>

			<nav style="text-align:center;">
			  <ul class="pagination pagination-p">
			    <li class="back">
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>

			    <p style="display:none;" id="pnum"><%= ppageNum %></p>
			    <% for (var i=0;i < ppageNum ;i++) {%>
			    	<li <% if(i == pcurrentPage){ %> class="active"<%}%> ><a href="#"><%= i+1%></a></li>
			    
			    <% }%>    
			    <li class="forward">
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>

		<!-- community table -->
		<div id="ctable" style="display:<%= cstatus%>;">
			<div  class="panel panel-default" >
			  	<table class="table table-striped">
			  		<tr><th>ID</th><th>标题</th><th>评论数</th></tr>
			  		
			  		<% for(var i=0; i<clist.length;i++) {%>
			  		<% 		if(clist[i] == null || clist[i][1] == null) {%>
			  		<% 			continue;%>
			  		<% 		}%>
				  		<tr onclick="cdetail(<%= i%>)">
				  			<td><%= i%></td>
				  			<td><%= clist[i][0]%></td>
				  			<td><%= clist[i][1]%></td>
				  			
				  		</tr>
			  		<% }%>
			  		
				</table>
						
			</div>
			<p style="display:none;" id="ccur"><%= ccurrentPage %></p>
			<!-- 分页 -->
			<nav style="text-align:center;">
			  <ul class="pagination pagination-c">
			    <li class="back">
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <p style="display:none;" id="cnum"><%= cpageNum %></p>
			    <% for (var i=0;i < cpageNum ;i++) {%>
			    	<li <% if(i == ccurrentPage){ %> class="active"<%}%>><a href="#"><%= i+1 %></a></li>
			    
			    <% }%>    
			    <li class="forward">
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
		

	</div>

	

	
	
</div>

</body>
</html>