<html>
<head>
<title>iGO后台－订单</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/javascripts/jquery-2.2.1.js"></script>
<script type="text/javascript" src="/javascripts/admin_orders_all.js"></script>

<style>
table{
	table-layout:fixed ; 
}
td, th{
	text-align: center;
}

</style>

</head>

<body>

<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="admin_general">概览</a></li>
					<li><a href="admin_admin">管理员</a></li>
					<li><a href="admin_user">用户</a></li>
					<li><a href="admin_products">商品</a></li>
					<li class="active"><a href="admin_orders">订单</a></li>
					<li><a href="admin_status">帖子</a></li>
					<li><a href="admin_activity">活动</a></li>
					<li><a href="admin_comments">评论</a></li>	
					<li><a href="admin_notification">推送</a></li>
				</ul>

				 <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><%= admin_name %></a></li>
			        <li><a href="/admin_general/logout" style="color:#900">注销</a></li>
			      </ul>
			</div>
		<div>	
	</nav>


<div class="container">
	<div style="height:100px;"></div>

<!-- 分页 -->
	<nav class="text-center">
	  <ul class="pagination">
	    <li><a href="/admin_orders">待处理</a></li>
	    <li class="active"><a href="/admin_orders/all">全部订单</a></li>
	  </ul>
	</nav>


	<!-- 列表  -->
	<table class="table">
		<tr><td style="width:20px;">#</td><td>订单号</td><td>用户</td><td>商品</td><td>创建时间</td><td>状态</td></tr>
		<% for(var i = 0; i<orders.length; i++){%>

		<tr>
			<td><%= i+1%></td>
			<td><%= orders[i]['code']%></td>
			<td><a href="/admin_user?username=<%= orders[i]['username']%>"><%= orders[i]['username']%></a></td>
			<td><a href="#"><%= orders[i]['pName']%></a></td>
			<td><%= orders[i]['timeText']%></td>
			<td><%- orders[i]['statusText']%></td>
		</tr>
		<%}%>
	</table>


	<p style="display:none;" id="curP"><%= currentPage%></p>
	<% if(pagesNum != 0){ %>
	<nav style="text-align:center;">
	  <ul class="pagination">
	    <li class="back">
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <% for(var i = 0; i < pagesNum; i++){%>
	    <li <% if(i+1 == currentPage){ %>class="active"<%}%>><a href="#"><%= i+1 %></a></li>
	    <%}%>
	    <li class="forward">
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	<%}%>
	    
</div>

</body>
</html>