<!DOCTYPE html>
<html>
<head>
	<title>iGO-评论</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="../javascripts/jquery-2.2.1.js"></script>
	<script type="text/javascript" src="../javascripts/admin_comments.js"></script>
	<script type="text/javascript" src="../javascripts/admin_products.js"></script>
	<script type="text/javascript" src="../stylesheets/bootstrap/js/bootstrap.min.js"></script>
	<style>
		
		td, th{
			text-align: left;
		}
		.glyphicon{
			color:#d54545;
		}
		td {
			border:1px solid #fff;
			
		}
		.dl-horizontal{
			font-size: 15px;
			text-align: left;
		}
		input[type='file']{
			width: 100%;
			height: 200px;
			overflow: hidden;
			
		    /*position:absolute;*/
		    /*right:0;
		    top:0;*/
		    opacity: 0;
		    cursor:pointer;
		    
		}
		
	</style>
	
</head>
<body>
<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/admin_general">概览</a></li>
					<li><a href="/admin_admin">管理员</a></li>
					<li><a href="/admin_user">用户</a></li>
					<li class="active"><a href="/admin_products">商品</a></li>
					<li><a href="/admin_orders">订单</a></li>
					<li><a href="/admin_status">帖子</a></li>
					<li><a href="/admin_activity">活动</a></li>
					<li><a href="/admin_comments">评论</a></li>
					<li><a href="/admin_notification">推送</a></li>	
				</ul>

				<ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><%= admin_name %></a></li>
			        <li><a href="/admin_general/logout" style="color:#900">注销</a></li>
			    </ul>
			</div>
		<div>	
	</nav>
	
	<a href="javascript:history.go(-1);" class="btn btn-default" style="margin-top: 80px;margin-left: 1000px">返回</a><hr/>
	<div style="margin-top: 120px">

		<form method="post" action="/admin_products/modify" id="form"  enctype="multipart/form-data" style="margin-top: 100px">
			<div class="row" style="margin-top: 15px">
	  			<div class="col-md-3"></div>
	  			<div class="col-md-6">
			        <div class="input-group " >
					  <span class="input-group-addon" >ID</span>
					  <input type="text" class="form-control" placeholder="id" id="id" name="id" value="<%= prodinfo[0]['id']%>">
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
	  		<div class="row" style="margin-top: 15px">
	  			<div class="col-md-3"></div>
	  			<div class="col-md-6">
			        <div class="input-group">
					  <span class="input-group-addon" >名称</span>
					  <input type="text" class="form-control" placeholder="name" id="name" name="name" value="<%= prodinfo[0]['name']%>">
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
			
			<div class="row" style="margin-top: 15px">
	  			<div class="col-md-3"></div>
	  			<div class="col-md-6">
			        <div class="input-group " >
					  <span class="input-group-addon" >地区</span>
					  <input type="text" class="form-control" placeholder="region" id="region" name="region" value="<%= prodinfo[0]['region']%>">
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
			
			<div class="row" style="margin-top: 15px">
	  			<div class="col-md-3"></div>
	  			<div class="col-md-6">
			        <div class="input-group " >
					  <span class="input-group-addon" >厂家</span>
					  <input type="text" class="form-control" placeholder="factory" id="factory" name="factory" value="<%= prodinfo[0]['factory']%>">
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>

			<div class="row" style="margin-top: 15px">
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<div class="input-group">
					  <span class="input-group-addon" >价格</span>
					  <input type="text" class="form-control" placeholder="price"  name="price" value="<%= prodinfo[0]['price']%>">
					</div>
				</div>
					 
				<div class="col-md-3">
					<div class="input-group">
					  <span class="input-group-addon" >销量</span>
					  <input type="text" class="form-control" placeholder="sale"  name="sale" value="<%= prodinfo[0]['sale']%>">
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>

			<div class="row" style="margin-top: 15px">
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<div class="input-group " >
					  <span class="input-group-addon" >库存</span>
					  <input type="text" class="form-control" placeholder="storage"  name="storage" value="<%= prodinfo[0]['storage']%>">
					</div>
				</div>
					
				<div class="col-md-3">
					<div class="input-group " >
					  <span class="input-group-addon" >收藏</span>
					  <input type="text" class="form-control" placeholder="count"  name="count" value="<%= prodinfo[0]['count']%>">
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>

			<div class="row" style="margin-top: 15px">
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<div class="input-group " >
					  <span class="input-group-addon" >类别</span>
					  <input type="text" class="form-control" placeholder="category"   name="category" value="<%= prodinfo[0]['cid']%>">
					</div>
				</div>
					
				<div class="col-md-3">
					<div class="input-group " >
					  <span class="input-group-addon" >上架</span>
					  <input type="text" class="form-control" placeholder="onSale"  name="onSale" value="<%= prodinfo[0]['onSale']%>">
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
			
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-3"></div>
				<div class="col-md-6">	
					<div  class="img-rounded" style="background-color:#eeeeee;text-align: center;font-size: 15px;height: 34px;padding-top: 5px;border: 1px solid #cccccc;">
						图片
					</div>
					<div>
						<ul id="picul" style="border:1px solid #cccccc;list-style-type: none;">
							<% string = prodinfo[0]['pic']%>
							
							<% pic = string.split('|')%>
							
							<% for (var i=0;i<pic.length;i++) {%>
							<li style="background: url(<%= pic[i]%>) no-repeat center center;list-style-type: none;margin-right:40px">
								<input type="file" id="p<%= i%>" name="p<%= i%>" ></input>	
							</li>
							<% }%>
							<li style="background: url(../images/activity_add.png) no-repeat center center;list-style-type: none;margin-right:40px">
								<input type="file" id="pplus" name="pplus" ></input>	
							</li>	
						</ul>
					</div>	  
					
				</div>
				<div class="col-md-3"></div>
			</div>
			

			<div class="row" style="margin-top: 15px">
				<div class="col-md-3"></div>
				<div class="col-md-6">	
					<div  class="img-rounded" style="background-color:#eeeeee;text-align: center;font-size: 15px;height: 34px;padding-top: 5px;border: 1px solid #cccccc;">
						描述
					</div>
					<div>
						<ul id="descul" style="border:1px solid #cccccc;list-style-type: none;">
							<% string = prodinfo[0]['description'] %>
							
						  	<% des = string.split('|') %>
							<% for (var i=0;i<des.length;i++) {%>
						  		<li style="background: url(<%= des[i]%>) no-repeat center center;list-style-type: none;margin-right:40px">
									<input type="file" id="d<%= i%>" name="d<%= i%>" ></input>	
								</li>
						  	<% }%>

							<li style="background: url(../images/activity_add.png) no-repeat center center;list-style-type: none;margin-right:40px">
								<input type="file" id="dplus" name="dplus" ></input>	
							</li>	
						</ul>
					</div>	  
					
				</div>
				<div class="col-md-3"></div>
			</div>
		</form>
		<!-- 提交按钮 -->
		<div class="row" style="margin-top: 15px">
			<div class="col-md-3"></div>
			<div class="col-md-6" style="text-align: right;">
				<button type="button" class="btn btn-primary" id="submit">修改并保存</button>
			</div>
			<div class="col-md-3"></div>
		</div>
		

	</div>

	<% string = "ab|bc|cd"%>
	<% array = string.split('|')%>
	<%= array[1]%>


</body>
</html>