<html>
<head>
<title>iGO后台－活动</title>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="javascripts/jquery-2.2.1.js"></script>
<script type="text/javascript" src="javascripts/admin_activity.js"></script>
<style>
.square{
	margin: 20px auto;
	width:500px;
	height:400px;
	border: 0px solid #ccc;
}

.square div{
	border: 1px solid #ddd;
	background: url(images/activity_add.png) no-repeat center center;
}
.top1, .bottom1{
	width: 200px;
	height: 200px;
	float: left;
}
.top2, .bottom2{
	width: 100px;
	height: 200px;
	float: left;
}
.top3, .bottom3{
	width: 100px;
	height: 200px;
	float:left;
}
.top4, .bottom4{
	width:100px;
	height:200px;
	float: left;
}

.square a{
	display: block;
	width: 100%;
	height: 100%;
}

.square div{
	position: relative;
}

.square input[type='file']{
	width: 100%;
	height: 100%;
	overflow: hidden;
    font-size: 300px;
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    cursor:pointer;
}


</style>

</head>
<body>


<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="admin_general">概览</a></li>
					<li><a href="admin_admin">管理员</a></li>
					<li><a href="admin_user">用户</a></li>
					<li><a href="admin_products">商品</a></li>
					<li><a href="admin_orders">订单</a></li>
					<li><a href="admin_status">帖子</a></li>
					<li class="active"><a href="admin_activity">活动</a></li>
					<li><a href="admin_comments">评论</a></li>	
				</ul>

				 <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><%= admin_name %></a></li>
			        <li><a href="/admin_general/logout" style="color:#900">注销</a></li>
			      </ul>
			</div>
		<div>	
	</nav>


<div class="container">
	<div style="height:100px;"></div>
	<nav style="text-align:center;">
	  <ul class="pagination">
	  	<% for(var i = 0; i < admin_activity_category.length; i++){%>
	    <li <% if(i == 0) {%> class="active"<%}%> activity_title="<%= admin_activity_category[i].id %>"><a href="#"><%= admin_activity_category[i].pop %></a></li>
	    <%}%>
	  </ul>
	</nav>		
</div>

<% for(var i = 0; i < admin_activity_category.length; i++){%>
	<form id="uploadForm" method="post" action="/admin_activity/uploadPic" enctype="multipart/form-data">
		<div class='square <%= admin_activity_category[i].id %>'>
			<input type="input" style="display:none;" name="popid" value="<%= admin_activity_category[i].id %>" />


					<% var top1 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['positon'] == 11){ %>
					<div class="top1" style="background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="11"/></div>
					<% top1 = 1;break;}} %>
					<%if(top1 == 0){%>
					<div class="top1"><input type="file" accept="image/png" name="11"/></div>
					<%}%> 

					<% var top2 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['positon'] == 12){ %>
					<div class="top2" style="background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="12"/></div>
					<% top2 = 1;break;}} %>
					<%if(top2 == 0){%>
					<div class="top2"><input type="file" accept="image/png" name="12"/></div>
					<%}%>

					<% var top3 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['positon'] == 13){ %>
					<div class="top3" style="background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="13"/></div>	
					<% top3 = 1;break;}} %>
					<%if(top3 == 0){%>
					<div class="top3"><input type="file" accept="image/png" name="13"/></div>
					<%}%>

					<% var top4 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['positon'] == 14){ %>
					<div class="top4" style="background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="14"/></div>
					<% top4 = 1;break;}} %>
					<%if(top4 == 0){%>
					<div class="top4"><input type="file" accept="image/png" name="14"/></div>
					<%}%>

					<% var bottom1 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['positon'] == 21){ %>
					<div class="bottom1" style="background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="21"/></div>
					<% bottom1 = 1;break;}} %>
					<%if(bottom1 == 0){%>
					<div class="bottom1"><input type="file" accept="image/png" name="21"/></div>
					<%}%>

					<% var bottom2 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['positon'] == 22){ %>
					<div class="bottom2 style="background-image:url(<%= admin_activity_pops[j]['url'] %>)""><input type="file" accept="image/png" name="22"/></div>
					<% bottom2 = 1;break;}} %>
					<%if(bottom2 == 0){%>
					<div class="bottom2"><input type="file" accept="image/png" name="22"/></div>
					<%}%>
	
					<% var bottom3 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['positon'] == 23){ %>
					<div class="bottom3" style="background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="23"/></div>
					<% bottom3 = 1;break;}} %>
					<%if(bottom3 == 0){%>
					<div class="bottom3"><input type="file" accept="image/png" name="23"/></div>
					<%}%>

					<% var bottom4 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['positon'] == 24){ %>
					<div class="bottom4" style="background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="24"/></div>
					<% bottom4 = 1;break;}} %>
					<%if(bottom4 == 0){%>
					<div class="bottom4"><input type="file" accept="image/png" name="24"/></div>
					<%}%>
							
			

			
			
			
			

		</div>
	</form>
<%}%>





</body>
</html>