<html>
<head>
<title>iGO后台－用户</title>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/admin_user.css">
<script type="text/javascript" src="javascripts/jquery-2.2.1.js"></script>
<script type="text/javascript" src="javascripts/admin_user.js"></script>

<style>
.table tr td{
	border-top:0px solid red;
}

</style>

</head>

<body>

<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="admin_general">概览</a></li>
					<li><a href="admin_admin">管理员</a></li>
					<li class="active"><a href="admin_user">用户</a></li>
					<li><a href="admin_products">商品</a></li>
					<li><a href="admin_orders">订单</a></li>
					<li><a href="admin_status">帖子</a></li>
					<li><a href="admin_activity">活动</a></li>
					<li><a href="admin_comments">评论</a></li>	
					<li><a href="admin_notification">推送</a></li>	
				</ul>

				 <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><%= admin_name %></a></li>
			        <li><a href="/admin_general/logout" style="color:#900">注销</a></li>
			      </ul>
			</div>
		<div>	
	</nav>


<div class="container">
	<div style="height:100px;"></div>

	<div class="topButtons text-right">
		<div class="btn-group" role="group">
			
				<%if(parseInt(loginStatus) == 1){%>
				<a type="button" class="btn btn-danger" href="/admin_user/changeLoginStatus">关闭登录功能</a>
				<%}else{%>
				<a type="button" class="btn btn-success" href="/admin_user/changeLoginStatus">开启登录功能</a>
				<%}%>
		</div>
		
		<div class="btn-group" role="group">
			<form class="navbar-form navbar-left" role="search" method="get" actino="/admin_user">
				<div class="form-group">
					<input type="text" <%if(username){%>value="<%= username%>"<%}%> name="username" class="form-control" placeholder="用户名">
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
		</div>

		<hr />
	</div>
	<br/>

	<table class="table">
		<% for(var i = 0; i<users.length; i++){ %>
		<tr>
		<% for(var j = 0; j<3 && (j+i)<users.length; j++){%>

			<td style="border-top:0px solid white;">
				<dl>
					<dt><img src="/<%= users[i+j]['icon']%>" />
						<div class="functions" idNumber="<%= users[i+j]['id']%>">
							<span idNumber="<%= users[i+j]['id']%>" style="color:#ba3030;" class="glyphicon glyphicon-remove deleteUser"></span>
							<span style="color:#06b5e2;"<% if(users[i+j]['canLogin']){%> class="glyphicon glyphicon-ban-circle canLoginBtn"<%}else{%> class="glyphicon glyphicon-circle-arrow-up canLoginBtn"<%}%>></span>
						</div>
					</dt>
					<dd>昵称：<%= users[i+j]['name']%></dd>
					<dd>手机：<%= users[i+j]['tel']%></dd>
					<dd>性别：<%= users[i+j]['sexText']%></dd>
					<dd>上次登录：<%= users[i+j]['lastLoginTimeText']%></dd>
				</dl>
			</td>

		<%}i+=(j-1);%>
		</tr>
		
		<%}%>
	</tr>
	
	</table>


	<p style="display:none;" id="curP"><%= currentPage%></p>
	<% if(pagesNum != 0){ %>
	<nav style="text-align:center;">
	  <ul class="pagination">
	    <li class="back">
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <% for(var i = 0; i < pagesNum; i++){%>
	    <li <% if(i+1 == currentPage){ %>class="active"<%}%>><a href="#"><%= i+1 %></a></li>
	    <%}%>
	    <li class="forward">
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	<%}%>
	    

	
		
	
</div>

</body>
</html>