<html>
<head>
<title>iGO后台－帖子</title>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="javascripts/jquery-2.2.1.js"></script>
<script type="text/javascript" src="javascripts/admin_status.js"></script>

<style>
table{
	table-layout:fixed ; 
}
td, th{
	text-align: center;
}

</style>

</head>

<body>

<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="admin_general">概览</a></li>
					<li><a href="admin_admin">管理员</a></li>
					<li><a href="admin_user">用户</a></li>
					<li><a href="admin_products">商品</a></li>
					<li><a href="admin_orders">订单</a></li>
					<li class="active"><a href="admin_status">帖子</a></li>
					<li><a href="admin_activity">活动</a></li>
					<li><a href="admin_comments">评论</a></li>	
					<li><a href="admin_notification">推送</a></li>
				</ul>

				 <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><%= admin_name %></a></li>
			        <li><a href="/admin_general/logout" style="color:#900">注销</a></li>
			      </ul>
			</div>
		<div>	
	</nav>


<div class="container">
	<div style="height:100px;"></div>

	<div class="topButtons text-right">
		<div class="btn-group" role="group">
			<a type="button" class="btn btn-danger" href="/admin_status/deleteAll">全部删除</a>
			<a type="button" class="btn btn-success" href="/admin_status/add">添加</a>
		</div>
	</div>
	<br/>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title text-center">帖子列表</h3>
	  </div>


	  	<table class="table table-striped">
	  		<tr><th>ID</th><th>标题</th><th>发表人</th><th>时间</th><th>操作</th></tr>
	  		<% for(var i = 0; i<status.length; i++){ %>
	  		<tr>
	  			<td><%= status[i]["id"]%></td>
	  			<td title="<%= status[i]["title"] %>" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;"><%= status[i]["title"] %></td>
	  			<td><%= status[i]["username"]%></td>
	  			<td><%= status[i]["time"]%></td>
	  			<td>
	  				<a href="/admin_status/modify?id=<%= status[i]['id']%>" style="color:blue;" title="编辑"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
	  				<a class="deleteA" href="#" style="color:#900;" title="删除" deleteID="<%= status[i]["id"]%>"><span class="glyphicon glyphicon-remove"></span></a>
	  			</td>
	  		</tr>
	  		<%}%>
	  		<% if(status.length == 0){ %>
	  		<tr><td colspan="5"><a style="display:block;" href="/admin_status/add"><img src="/images/activity_add.png" /></a></td></tr>
	  		<%}%>
		</table>

		
	</div>

	<p style="display:none;" id="curP"><%= currentPage%></p>
	<% if(pagesNum != 0){ %>
	<nav style="text-align:center;">
	  <ul class="pagination">
	    <li class="back">
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <% for(var i = 0; i < pagesNum; i++){%>
	    <li <% if(i+1 == currentPage){ %>class="active"<%}%>><a href="#"><%= i+1 %></a></li>
	    <%}%>
	    <li class="forward">
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	<%}%>
	    
		
	
</div>

</body>
</html>