<html>
<head>
<title>iGO后台－活动</title>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="javascripts/jquery-2.2.1.js"></script>
<script type="text/javascript" src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/admin_activity.js"></script>
<style>
.square{
	margin: 20px auto;
	width:500px;
	height:400px;
	border: 0px solid #ccc;
}

.square div{
	border: 1px solid #ddd;
	background: url(images/activity_add.png) no-repeat center center;
}
.top1, .bottom1{
	width: 200px;
	height: 200px;
	float: left;
}
.top2, .bottom2{
	width: 100px;
	height: 200px;
	float: left;
}
.top3, .bottom3{
	width: 100px;
	height: 200px;
	float:left;
}
.top4, .bottom4{
	width:100px;
	height:200px;
	float: left;
}

.square a{
	display: block;
	width: 100%;
	height: 100%;
}

.square div{
	position: relative;
}

.square input[type='file']{
	width: 100%;
	height: 100%;
	overflow: hidden;
    font-size: 300px;
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    cursor:pointer;
}

.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}


</style>

</head>
<body>


<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
	    	<div class="navbar-header">
	    	  	<a class="navbar-brand" href="#">iGo</a>
	   		</div>
	   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="admin_general">概览</a></li>
					<li><a href="admin_admin">管理员</a></li>
					<li><a href="admin_user">用户</a></li>
					<li><a href="admin_products">商品</a></li>
					<li><a href="admin_orders">订单</a></li>
					<li><a href="admin_status">帖子</a></li>
					<li class="active"><a href="admin_activity">活动</a></li>
					<li><a href="admin_comments">评论</a></li>	
				</ul>

				 <ul class="nav navbar-nav navbar-right">
			        <li><a href="#"><%= admin_name %></a></li>
			        <li><a href="/admin_general/logout" style="color:#900">注销</a></li>
			      </ul>
			</div>
		<div>	
	</nav>


<div class="container">
	<div style="height:100px;"></div>
	<div class="alert alert-danger text-center" style="display:none;" role="alert">有未添加商品ID的图片，请 &nbsp;点击模糊图片&nbsp;进行添加！</div>

	<nav style="text-align:center;">
	  <ul class="pagination">
	  	<% for(var i = 0; i < admin_activity_category.length; i++){%>
	    <li activity_title="<%= admin_activity_category[i].id %>"><a href="#"><%= admin_activity_category[i].pop %></a></li>
	    <%}%>
	  </ul>
	</nav>		
</div>
<div id="indecate" style="display:none;" title="<%= activity_indecate %>"></div>

	<form id="uploadForm" method="post" action="/admin_activity/uploadPic" enctype="multipart/form-data">
		<div class='square'>
			<input type="input" style="display:none;" name="popid" value="<%= activity_indecate %>" />


					

					<% var top1 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['position'] == 11 && activity_indecate == admin_activity_pops[j]['popid']){ %>
					<div class="top1 <% if(admin_activity_pops[j]['pid'] == 0){ %>blur<%}%>" style="background-size:100%;background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="11"/></div>
					<% console.log(admin_activity_pops); %>
					<% top1 = 1;break;}} %>
					<%if(top1 == 0){%>
					<div class="top1"><input type="file" accept="image/png" name="11"/></div>
					<%}%> 

					<% var top2 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['position'] == 12 && activity_indecate == admin_activity_pops[j]['popid']){ %>
					<div class="top2 <% if(admin_activity_pops[j]['pid'] == 0){ %>blur<%}%>" style="background-size:100%;background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="12"/></div>
					<% top2 = 1;break;}} %>
					<%if(top2 == 0){%>
					<div class="top2"><input type="file" accept="image/png" name="12"/></div>
					<%}%>

					<% var top3 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['position'] == 13 && activity_indecate == admin_activity_pops[j]['popid']){ %>
					<div class="top3 <% if(admin_activity_pops[j]['pid'] == 0){ %>blur<%}%>" style="background-size:100%;background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="13"/></div>	
					<% top3 = 1;break;}} %>
					<%if(top3 == 0){%>
					<div class="top3"><input type="file" accept="image/png" name="13"/></div>
					<%}%>

					<% var top4 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['position'] == 14 && activity_indecate == admin_activity_pops[j]['popid']){ %>
					<div class="top4 <% if(admin_activity_pops[j]['pid'] == 0){ %>blur<%}%>" style="background-size:100%;background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="14"/></div>
					<% top4 = 1;break;}} %>
					<%if(top4 == 0){%>
					<div class="top4"><input type="file" accept="image/png" name="14"/></div>
					<%}%>

					<% var bottom1 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['position'] == 21 && activity_indecate == admin_activity_pops[j]['popid']){ %>
					<div class="bottom1 <% if(admin_activity_pops[j]['pid'] == 0){ %>blur<%}%>" style="background-size:100%;background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="21"/></div>
					<% bottom1 = 1;break;}} %>
					<%if(bottom1 == 0){%>
					<div class="bottom1"><input type="file" accept="image/png" name="21"/></div>
					<%}%>

					<% var bottom2 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['position'] == 22 && activity_indecate == admin_activity_pops[j]['popid']){ %>
					<div class="bottom2 <% if(admin_activity_pops[j]['pid'] == 0){ %>blur<%}%>" style="background-size:100%;background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="22"/></div>
					<% bottom2 = 1;break;}} %>
					<%if(bottom2 == 0){%>
					<div class="bottom2"><input type="file" accept="image/png" name="22"/></div>
					<%}%>
	
					<% var bottom3 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['position'] == 23 && activity_indecate == admin_activity_pops[j]['popid']){ %>
					<div class="bottom3 <% if(admin_activity_pops[j]['pid'] == 0){ %>blur<%}%>" style="background-size:100%;background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="23"/></div>
					<% bottom3 = 1;break;}} %>
					<%if(bottom3 == 0){%>
					<div class="bottom3"><input type="file" accept="image/png" name="23"/></div>
					<%}%>

					<% var bottom4 = 0;for(var j = 0; j < admin_activity_pops.length; j++){ %>
					<% if(admin_activity_pops[j]['position'] == 24 && activity_indecate == admin_activity_pops[j]['popid']){ %>
					<div class="bottom4 <% if(admin_activity_pops[j]['pid'] == 0){ %>blur<%}%>" style="background-size:100%;background-image:url(<%= admin_activity_pops[j]['url'] %>)"><input type="file" accept="image/png" name="24"/></div>
					<% bottom4 = 1;break;}} %>
					<%if(bottom4 == 0){%>
					<div class="bottom4"><input type="file" accept="image/png" name="24"/></div>
					<%}%>
							
			

		</div>
	</form>


<!-- 输入商品ID模态框 -->
<div class="modal fade" id="myModal">
<form id="setpid_form" method="post" action="/admin_activity/setPid">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">输入商品ID</h4>
      </div> 
      <div class="modal-body">
      	<div class="alert alert-warning" style="display:none;" role="alert">请输入正确的商品ID</div>
      	<input type="text" style="display:none" name="setpid_indecate" />
      	<input type="text" style="display:none" name="setpid_popid" />
      	<input type="text" style="display:none" name="setpid_position" />
        <input type="text" class="form-control" name="setpid_pid" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="pidSure">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</from>
</div><!-- /.modal -->




</body>
</html>